html{
	margin:0;
}



header#navigatie {
	width: 100%;
	height: 70px;
	/*background-image: url("img/banner.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-color:rgba(15, 0, 20,0.8);
}

header #logo{
	float:left;
	height: 50px;
	margin-top:10px;
	margin-left:25px;
}
#home{
	color: #fff000;
}
header a {
	float: right;
	text-decoration: none;
	color: white;
	margin-right:2%;
	margin-top: 40px;
	font-size: 20px;
}
header a:hover{
	transition: 1s;
	color:rgb(255, 204, 255);
}

@media screen and (max-width: 1400px){
	body {
		margin: 0;
		font-family: 'Quicksand', sans-serif;
		font-weight: 300;
		background-image:url("img/bg5.jpg");
		background-repeat:repeat-x;
		background-color:#cdcdcd;
		background-position: bottom;
	}
	#slideshow{
		height:350px;
		width:100%;
		margin:auto;
		margin-top: -70px;
		background-image:url(img/foto_slider1.jpg);
		background-size:cover;
		background-repeat: no-repeat;

		background-position: center;
	}

	#container{
		width:100%;
		margin:auto;
	}

}

@media screen and (min-width: 1400px){
	body {
		margin: 0;
		font-family: 'Quicksand', sans-serif;
		font-weight: 300;
		background-image:url("img/bg5.jpg");
		background-repeat:no-repeat;
		background-color:#120125;
		background-position: top;
		background-size: 100% auto;
	}
	#slideshow{
		height:400px;
		width:1400px;
		margin:auto;
		margin-top: -70px;
		background-image:url(img/foto_slider1.jpg);
		background-size:cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	#container{
		width: 1400px;
		margin:auto;
	}
}



#divider_top{
	height: 2px;
	background: #fff000; /* Old browsers */
	background: -moz-linear-gradient(left, #fff000 0%, #ef9b00 50%, #fff000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fff000), color-stop(50%,#ef9b00), color-stop(100%,#fff000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #fff000 0%,#ef9b00 50%,#fff000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #fff000 0%,#ef9b00 50%,#fff000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #fff000 0%,#ef9b00 50%,#fff000 100%); /* IE10+ */
	background: linear-gradient(to right, #fff000 0%,#ef9b00 50%,#fff000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff000', endColorstr='#fff000',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}
section{
	background-color:rgba(234,232,229,0.6);
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
	overflow: auto;
	margin-bottom: 3%;
}
section p{
	font-weight: 400;
	color:#383436;
	
}
section p#over{
	text-align: justify;
	margin-top:40px;
	margin-bottom: 10px;
	margin-right:4%;
	
}
section p#kreet{
	margin-top:3%;
}
section header{
	padding-top:5px;
	padding-bottom: 10px;
	text-align: center;
	background-color:rgb(15, 0, 20);
	height:25px;
	border-top:solid 2px;
}
section h1{
	margin:0;
	color:white;
	font-weight:300;
	text-transform: uppercase;
	
}
section #schild{
	overflow: auto;
	float:left;
	height:200px;
	margin-left:5%;
	margin-top:20px;
	margin-right:4%;
	margin-bottom:20px;
}
section #clublied p{
	text-align: center;
}
section #clublied{
	margin-top:5%;
	margin-bottom:5%;
}
section p.refrein{
	font-weight:700;
}